@import "../assets/scss/theme.scss";

.carousel {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding: 100px 0;

  .container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .content {
      width: 50%;
      h1 {
        @include text($c1, $text-3xl, $text-bold);
      }
      span {
        @include text($c2, $text-md, $text-medium);
      }
      p {
        @include text($c2, $text-sm, $text-light);
        margin: 20px 0;
      }
      .btn-info {
        @include button(transparent, $c1, 1px solid $c1, 5px, 10px 30px);
        margin-right: 20px;
      }

      .btn-shop {
        @include button($c1, $c3, 1px solid transparent, 5px, 10px 30px);
      }
    }

    .thumbnail {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}
