@import "../assets/scss/theme.scss";

.product {
  text-align: center;
  .container {
    width: 1280px;
    margin: 0 auto;
    > h1 {
      font-size: $text-2xl;
    }
    .list {
      margin-top: 50px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;

      @for $i from 0 to 6 {
        .product-#{ $i + 1} {
          opacity: 0;
          animation: fadeInDown 0.8s linear 0.5s * $i;
          animation-fill-mode: both;
        }
      }
    }
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
